@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400');

body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #9BCF00;
}

a:hover,
a:active,
a:focus {
  color: #658700;
}

.header-image {
  background: url("images/landing-2.jpg") no-repeat top center fixed;
  height: 40rem;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.header-image h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: white;
  font-weight: lighter;
  text-shadow: 5px 2px 3px #232323;
  margin-bottom: 0;
}

.header-image h2 {
  color: white;
  text-transform: lowercase;
  margin: -0.5em 1em;
  font-size: 4em;
  font-style: italic;
  text-shadow: 3px 3px 4px black;
}

.name-wrapper {
  color: black;
  padding: 5rem;
  border-radius: 10px;
}


#main-content {
  margin-bottom: 10rem;
}

#main-content .col {
  display: flex;
  flex-direction: column;
}

#main-content .col p {
  margin-bottom: auto !important;
}

.main-footer-dark {
  font-size: 1.3rem;
  background: #343A40;
  color: white;
  padding: 1rem;
}

.main-footer-dark p {
  margin: .35em 0;
}

.main-footer-dark p:last-child {
  font-size: .55em;
}

.main-footer-dark span,
.main-footer-dark a {
  margin: .75em;
}

.main-link {
  width: 50%;
  margin-top: 1em;
}

.btn-primary {
  background: #343A40;
  border: black;
  color: white;
}

a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:visited {
  color: white !important;
  background: #181c21 !important;
  border: black !important;
  box-shadow: none !important;
  outline: none !important;
}

.push-from-top {
  margin-top: 5rem;
}

.normal-font {
  font-size: 72%;
}

.badge-green {
  background: #9BCF00;
  color: white;
}

.my-slider {
  position: relative;
  overflow: hidden;
}

.my-slider h1 {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background: white;
  padding: .5em 1.25em;
  font-size: 1.5rem;
  opacity: 0.75;
  margin: 0 !important;
}

.image-container {
  display: flex;
}

.my-slider img {
  width: 100%;
  height: auto;
  display: none;
}

/* Media queries */
@media only screen and (max-width: 60rem) {
  .header-image {
    height: 30rem;
  }
}
